[Unit]
Description=Albatross startup script
After=network.target

[Service]
Environment="HOME=/home/pi/"
ExecStart=python main.py --uri 127.0.0.1:14550 --timelapse_path /home/pi/albatross/timelapse --log_path /home/pi/albatross/logs
Restart=on-failure
WorkingDirectory=/home/pi/albatross/src/
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
